h2
{
text-decoration:underline;
}
h3{
color: green;
text-decoration: underline;
}

img{
width:500px;
height:250px;
}

.ob{
font-size:18px; }

ul{
font-size:14px;
}
.club{
border: dotted green;
margin-bottom:50px;
padding: 15px;
}